apiVersion: kustomize.config.k8s.io/v1beta1
images:
- name: backend
  newName: mattedamo26/thesis-demo-backend
  newTag: bd24412d9813f4d3527b11fd837b17e61d57b87d-prod
- name: frontend
  newName: mattedamo26/thesis-demo-frontend
  newTag: latest-prod
kind: Kustomization
namespace: thesis-demo-prod
patches:
- path: backend_backend-dep_deployment_patch.yaml
  target:
    labelSelector: tier=backend
    name: backend-dep
- path: backend_backend-service_service_patch.yaml
  target:
    labelSelector: tier=backend
    name: backend-service
- path: frontend_frontend-dep_deployment_patch.yaml
  target:
    labelSelector: tier=frontend
    name: frontend-dep
- path: frontend_frontend-service_service_patch.yaml
  target:
    labelSelector: tier=frontend
    name: frontend-service
- path: db_db-dep_deployment_patch.yaml
  target:
    labelSelector: tier=db
    name: db-dep
resources:
- ../../base
secretGenerator:
- literals:
  - MYSQL_ROOT_PASSWORD=password
  - MYSQL_DATABASE=thesisAppMariadb
  name: db-db-dep
